body {
	background-color: rgb(32, 32, 78);
	display: flex;
	flex-direction: column;
}

header h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 42px;
	color: rgb(173, 155, 175);
}
header h2 {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 18px;
	color: rgb(255, 196, 0);
}

.game {
	padding: 20px 30px;
	margin: auto;
	height: 350px;
	width: 450px;
}

.img {
	align-self: center;

	margin: 1rem 3rem;
}

.phrase {
    margin-top: 3rem;
    margin-bottom: -2rem;
    text-align: center;
	color: rgb(255, 196, 0);
}
.under {
	border-bottom: dashed 1px rgb(255, 196, 0);
	text-align: center;
	font-size: 45px;
	color: rgb(255, 196, 0);
	margin: 1rem 3rem;
}

.alphabet {
	border-style: solid;
	border-color: rgb(84, 35, 107);
	text-align: center;
	padding: 30px 30px;
	margin: 1rem 3rem;
}

.buttons {
	font-size: 25px;
	color: white;
	background-color: rgb(84, 35, 107);
}

.buttons:active {
	background-color: chartreuse;
}

.restart {
	font-size: 20px;
	color: white;
	background-color: rgb(84, 35, 107);
	margin: 0.1rem 4rem;
}

.fuel {
	display: grid;
	grid-template-columns: 3rem;
	grid-template-rows: 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem;
	border: rgb(255, 196, 0);
	border-style: solid;
	margin: 1rem 3rem 1rem 3rem;
	justify-content: right;
	background-image: url('Untitled_Artwork 5.jpg');
}

.cell {
	background-color: chartreuse;
	color: chartreuse;
	margin: 5px 10px 5px 0px;
	border: rgb(84, 35, 107);
	border-style: double;
	display: block;
}

.ftext {
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	font-size: 18px;
	color: rgb(255, 196, 0);
	padding: 1rem 3rem;
}

.letter {
	border-bottom: solid 5px rgb(255, 196, 0);
	text-align: center;
	font-size: 25px;
	margin: 0px 10px;
	padding: 2px 0px;
}

.wrong-letters-container {
	position: center;
	display: none;
	flex-direction: column;
	text-align: center;
}

.wrong-letters-container p {
	margin: 0 0 5px;
	display: none;
}

.wrong-letters-container span {
	font-size: 24px;
	display: none;
}

.popup-container {
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display:none;
	align-items: center;
	justify-content: center;
	color: rgb(255, 196, 0);
}

.popup {

	background-color: seashell;
	border-radius: 8px;
	border: 5px solid;
	box-shadow: 0 15px 15px 5px black;
	padding: 20px;
}

.popup button {
	cursor: pointer;
	background-color: rgb(238, 238, 252);
	color: rgb(255, 196, 0);
	margin-top: 20px;
	margin-left: 5rem;
	padding: 15px;
	font-size: 16px;
}

.popup button:active {
	transform: scale(0.98);
}

.notification-container {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 10px 10px 0 0;
	padding: 15px 20px;
	position: absolute;
    bottom: -225px;
    left: 45%;
    transition: 0.3s ease-in-out;
    color: white;
}

.notification-container p {
	margin: 0;
}

.notificatiion-container.show {
	transform: translateY(-50px);
}
