body {
    background-color: rgb(32, 32, 78);
}

header h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    color: rgb(255, 80, 203);

}
header h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: rgb(255, 196, 0);
}

.phrase {
    color: rgb(255, 196, 0);
    text-align: center;
    margin-bottom: -30px;
    
   
}
.under {
    border-bottom: dashed 1px rgb(255, 196, 0);
    text-align: center;
    font-size: 48px;
    color: rgb(255, 196, 0);
    margin: -15px 65px ;
   
}

.alphabet {
    border-style: solid;
    border-color: rgb(84, 35, 107);
    text-align: center;
    padding: 30px 30px;
    margin: 1rem 4rem ;
   
}   

.buttons {
    font-size: 25px;
    color: white;
    background-color:rgb(84, 35, 107);
    
    
}

.restart {
    font-size: 20px;
    color: white;
    background-color:rgb(84, 35, 107);
    margin: .1rem 4rem;
}

.fuel {
   
    display: grid;
    grid-template-columns: 3rem;	
    grid-template-rows: 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem ;
    border: rgb(255, 196, 0) ;
    border-style: solid;
    margin: 1rem 4rem 1rem ;
    justify-content: right;
    background-color: rgb(9, 9, 82);


}

.cell {
    background-color: chartreuse;
    color:  chartreuse;
    margin: 5px 10px 5px 0px;
    border:  rgb(84, 35, 107) ;
    border-style: double;
}

.ftext {
   font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    font-size: 18px;
    color: rgb(255, 196, 0);
    padding: 1rem 4rem; 
}

.letter {
    border-bottom: solid 5px rgb(255, 196, 0);
    text-align: center;
    font-size: 25px;
    margin: 0px 10px;
    padding: 2px 0px;
    
}
